extends layout

block content
  h1 Cellular Automata Generator

  h2 How to use:

  ul
    li Visit this website:
    a(href='http://atlas.wolfram.com/01/01/') http://atlas.wolfram.com/01/01/
    li Choose a rule
    li Put the rule after the /
    li Example: localhost:3000/63
    li That's it.
